<div class="block" style="height:800px;">
  <div class="centered">
    <h2>Thanks, you paid $<strong><%= @amount / 100.00 %></strong>. </h2>
    <h3>You will receive a follow-up in 24 hrs</h3>
  </div>
</Div>
